button{
    width: 15rem;
    height: 3.5rem;
    margin-top:1rem ;
    border-radius: 1rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    cursor: pointer;
    /* background-color: rgb(89, 12, 12); */
    /* color: #fff; */
}
button img{
    width: 2rem;
    height: 2rem;
    
}
button h3{
    margin-top:0.6rem ;
}
.Badge{
    width: 2.6rem;
    border-radius: 1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: #fff;
    font-weight: 500;
    font-size: large;
}